html,body {
	height: 100%;
	margin: 0;
	background-color: #F1F1F1;
	font-family: 'RobotoDraft', sans-serif;
}
core-drawer-panel:not([narrow]) #navicon {
	display: none;
}
core-header-panel {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: white; 
}

core-toolbar {
	color: white;
}
#navheader {
	background-color: rgb(79, 125, 201);
}

#mainheader {
  	background-color: #526E9C;
}

.centerSpinner {
	position: absolute;
	top:50%;
	left:50%;
}
.centeredMessage {
	position: relative;
	display: block;
	width: 60%;
	margin: 20%;
	color: #526E9C;
	text-align: center;
}

.centeredMessage > img {
	width: 50px;
}

.centeredMessage > p > span {
	font-style: italic;
	font-weight: bold;
}