#pieProgress {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

#percentage {
	font-size: 42px;
	position: absolute;
	top: 42px;
	width: 100%;
	font-size: 42px;
}

#numcfu {
	position: absolute;
	top: 84px;
	width: 100%;
	font-size: 14px;
}